<link rel="stylesheet" href="https://s3.amazonaws.com/data.minnpost/projects/minnpost-styles/0.0.6-alpha/minnpost-styles.min.css" type="text/css">

<style>
    .hidden {display: none;}
    .filter-links li a {padding:5px;}
    .filtering, .filtering a {color: #fff!important; background-color:#0793AB; border-radius: 5px;}
</style>


<div class="mp">

    <div class="filter-links">
        Filter:
        <ul>
            <li><a href="#" data-filter="uncontested">Uncontested</a></li>
            <li><a href="#" data-filter="dfl-primary">DFL Primary</a></li>
            <li><a href="#" data-filter="gop-primary">R Primary</a></li>
            <li><a href="#" data-filter="reset">Show All</a></li>
        </ul>
    </div>

    <div id="total-contests">
    </div>

    {% for contest in contests %}

    <div class="election{{contest.classes}}">
      <h4>{{contest.title}}</h4>

      Candidates:

      <ul>
      {% for candidate in contest.candidates %}
        <li class="color-political-{{candidate[1].lower()}}">{{candidate[0]}} ({{candidate[1]}})</li>
      {% endfor %}
      </ul>

    </div>

    {% endfor %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">

    function showTotal() {
        var total = $('.election').length
        var displaying = 0
        $('.election').each(function(){
            if( !$(this).hasClass("hidden") ) {
                displaying++
            }
        });

        $('#total-contests').html("Displaying <strong>" + displaying + "</strong> " +
                                   "races of <strong>" + total + "</strong> total.");
    };

    $('.filter-links a').click(function(){

        if ($(this).data("filter") == "reset") {
          $('.filter-links a').each(function(){
            $(this).removeClass("filtering")
          });

        } else {
          $(this).toggleClass("filtering")
        }

        var filters = new Array()
        $('.filter-links a').each(function(){
          if ($(this).hasClass("filtering")) {
            filters.push($(this).data("filter"))
          }
        });

        $('.election').each(function(){
            var displaying = 1

            for (f in filters) {
              if (!$(this).hasClass(filters[f])) {
                displaying = 0
              }
            }
            if (displaying == 0) {
              $(this).addClass("hidden")
            } else {
              $(this).removeClass("hidden")
            }
        });

        showTotal();
    });

    $(document).ready(function() {
        showTotal();
    });
</script>
